ul{
    background-color: rgba(20, 20, 80, 0.142);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-size: 20px;
    align-content: center;
}
li{
    cursor: pointer;
}