#carouselExample {
    margin: 20px auto; // Center carousel with margin
    max-width: 900px;  // Restrict the max width for a cleaner look
    border-radius: 8px; // Add rounded corners
    overflow: hidden;

}